<div class="container">
  <div class="row">
    <h1>Listing questions</h1>
    <div class="large-4 columns">

      <!-- Latest questions created by the current_user, left at top -->
      <!-- link to all questions created -->

      <!-- Latest questions answered by current_user, left bottom -->
      <!-- link to all questions answered -->

      <!-- Questions to answer ordered by due date, right -->
      <!-- link to all question to answer (maybe using pagination)-->

      <!-- field to create a new Yes/No question or a button for a Multiple Choice one -->


        <table>
          <thead>
            <tr>
              <th>created question</th>
              <th>answers received</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% current_user.questions.each do |question| %>
              <tr>
                <td><%= link_to question.content, question %></td>
                <td><%= question.results.count %></td>
                <td><%= link_to "Delete", question, method: :delete, class: "tiny button alert round", data: { confirm: 'Are you sure you want to delete this question and its answers?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="large-4 columns">
        <table>
          <thead>
            <tr>
              <th>answered question</th>
              <th>Your answer</th>
            </tr>
          </thead>

          <tbody>
            <% current_user.results.each do |result| %>
              <tr>
                <td><%= link_to result.answer.question.content, result.answer.question %></td>
                <td><%= result.answer.content %></td>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="columns-4 large">
        <table>
          <thead>
            <tr>
              <th>Questions to answer</th>
              <th>Question creator</th>
              <th>Days left to answer</th>
            </tr>
          </thead>

          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <% unless question.user == current_user || question.answered?(current_user) || question.duedate < Date.today %>
                  <td><%= link_to question.content, question %></td>
                  <td><%= question.user.name %></td>
                  <td><%= pluralize(question.days_left, "day") %></td>
                <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= render 'form' %>
      <h4>
      Need more options? Then you can try with a:
      <%= link_to 'new multiple choice question', new_question_path, class: "button secondary columns-2 large" %>
    </h4>
  </div>
</div>
