<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-6 columns large-centered">
    <h2><%= @question.content %></h2>
  </div>
</div>

<% if @question.answered?(current_user) || @question.user == current_user || @question.duedate < Date.today   %>

  <div class="row">
    <div class="large-8 columns">
      <% if @question.multiple_choice? %>
        <%= pie_chart @question.result_data %>
      <% else %>
        <%= bar_chart @question.result_data %>
      <% end %>
    </div>


  <%= card(@question.answers.count, 'ANSWERS RECEIVED', 'right') %>
  <%= card(@question.days_left, 'DAYS TO END', 'right') %>
  <%= card('Yes', 'WINNING ANSWER', 'right') %>   <!-- FIXME:put the right answer -->
  </div>


<% else %>
  <%= form_for(@result) do |f| %>
    <% if @result.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

        <ul>
        <% @result.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <% answers = @question.answers %>
      <%= f.collection_radio_buttons :answer_id, answers, :id, :content %>
    </div>
    <div>
      <%= f.submit "Vote!" %>
    </div>
  <% end %>
<% end %>

<p>
  <div class="row">
    <ul class="button-group large-6 columns large-centered">
      <li><%= link_to 'All questions', questions_path, class: "button secondary" %></li>
      <li ><%= link_to 'Next question to answer', questions_path, class: "button success"%></li>
    </ul></div>
  </div>
</p>
